:root {
	--square-white-color: #ecd2c1;
	--square-black-color: #89502a;

	--square-white-selected-color: #caecc1;
	--square-black-selected-color: #3e892a;

	--square-white-last-move-color: #caecc1;
	--square-black-last-move-color: #3e892a;

	--move-indicator-color: rgba(0, 92, 0, 0.7);

	--flip-transition-duration: 0.25s;
	--square-pos-transition: top var(--flip-transition-duration), left var(--flip-transition-duration);

	--square-size: calc(100% / 8);

	--move-indicator-size: 25%;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
